@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300,400;0,700;0,800;1,300&display=swap');

:root {
    --dark-bg: #372c2e;
    --quote-bg: #e5e7eb;

    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --action-brown: #de9e48;
    --darker-brown: #c78e40;
    --dark-text: #372c2e;

    --bumper: 15vw;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    margin: auto;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
    color: var(--main-text);
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--dark-text);
    margin-top: 0;
}

h3 {
    font-size: 24px;
    color: var(--main-text);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    padding: 20px var(--bumper);
    margin: 0;
}

header .logo {
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

header ul li {
    display: block;
}

header ul li a {
    color: var(--secondary-text);
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

.one, .two, .three, .four {
    padding: 100px var(--bumper);
}

.one {
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero p {
    color: var(--secondary-text);
}

.hero-img img {
    width: 525px;
    height: 250px;
    object-fit: cover;
}

.sign-up {
    background-color: var(--action-brown);
    color: var(--main-text);
    font-size: 16px;
    font-weight: 700;
    padding: 5px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.sign-up:hover, .sign-up:active {
    background-color: var(--darker-brown);
    color: var(--main-text);
    transition: 0.1s;
}

.two {
    background-color: var(--main-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.random {
    width: 175px;
    text-align: center;
}

.random-img img {
    border-radius: 15px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 4px solid var(--action-brown);
}

.random-img img:hover {
    filter: saturate(120%);
    transition: 0.5s;
}

.three {
    background-color: var(--quote-bg);
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 48px;
    text-align: justify;
    text-align-last: left;
}

.citation {
    font-size: 24px;
    text-align: right;
}

.four {
    background-color: var(--main-text);
}

.action-container {
    background-color: var(--action-brown);
    color: var(--secondary-text);
    padding: 50px 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    background-color: transparent;
    color: var(--main-text);
    border: 2px var(--main-text) solid;
    border-radius: 10px;
    padding: 5px 35px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.action-button:hover, .action-button:active {
    color: var(--action-brown);
    background-color: var(--main-text);
    transition: 0.1s;
}

footer {
    color: var(--main-text);
    text-align: center;
    padding: 25px;
}