@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,300&display=swap');

:root {
    --dark-bg: #1f2937;
    --quote-bg: #e5e7eb;

    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --action-blue: #3882f6;
    --dark-text: #1f2937;

    --bumper: 15vw;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

body {
    background-color: var(--dark-bg);
    margin: auto;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
    color: var(--main-text);
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--dark-text);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    padding: 20px var(--bumper);
    margin: 0;
}

header .logo {
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

header ul li {
    display: block;
}

header ul li a {
    color: var(--secondary-text);
    text-decoration: none;
}

.one, .two, .three, .four {
    padding: 0 var(--bumper);
}

.one {
    background-color: var(--dark-bg);
    height: 60vh;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero p {
    color: var(--secondary-text);
}

.hero-img img {
    width: 525px;
}

.sign-up {
    background-color: var(--action-blue);
    color: var(--main-text);
    font-size: 16px;
    font-weight: 700;
    padding: 5px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.two {
    background-color: var(--main-text);
}

.three {
    background-color: var(--quote-bg);
}

.four {
    background-color: var(--main-text);
}